html,body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.parent{
    background: aquamarine;
    height: 75vh;
    width: 75vw;
    padding: 1em;
    position: relative;
}

.parent p{
    position: relative;
    z-index: 10;
}

.child{
    background-color: red;
    height: 50px;
    width: 50px;
    position: absolute;
    /* top: 0;
    bottom: 0;
    left: 25%;
    right: 25%; */
    z-index: 0;
    top: 0;
    left: 0;
}