body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

p::before{
    content: 'Hello';
    background: red;
    display: block;
    font-size: 20px;
    font-weight: 900;
    color: white;

}

p::after{
    content: 'Good Bye';
    background: red;
    display: block;
    font-size: 20px;
    font-weight: 900;
    color: white;

}

/* will not work on image */
/* image::before{
    content: '';
     
} */

/* p::after{
    content: '';
    background: red;
    display: block;
    width: 10px;
    height: 10px;
} */